$sg-primary-bg: #ffffff !default;
$sg-secondary-bg: #cfcfcf !default;
$sg-default: #2f2f2f !default;
$sg-alternate: #ffffff !default;
$sg-action: #0f6fbf !default;
$sg-border: #afafaf !default;
$sg-success: #3f7f1f !default;
$sg-error: #af0f1f !default;

$sg-white: #ffffff !default;
$sg-black: #000000 !default;