$sg-primary-bg: #ffffff !default;
$sg-secondary-bg: #efefef !default;
$sg-default: #2f2f2f !default;
$sg-alternate: #ffffff !default;
$sg-action: #0f6fbf !default;
$sg-border: #cfcfcf !default;
$sg-success: #3f7f1f !default;
$sg-error: #af0f1f !default;