%bg-primary {
	background-color: $sg-primary-bg;
}
%bg-secondary {
	background-color: $sg-secondary-bg;
}
%bg-action {
	background-color: $sg-action;
}
%bg-success {
	background-color: $sg-success;
}
%bg-error {
	background-color: $sg-error;
}
%color-default {
	color: $sg-default;
}
%color-alternate {
	color: $sg-alternate;
}
%color-action {
	color: $sg-action;
}
%color-success {
	color: $sg-success;
}
%color-error {
	color: $sg-error;
}

[#{$am}-sg-bg='primary'] {
	@extend %bg-primary;
}
[#{$am}-sg-bg='secondary'] {
	@extend %bg-secondary;
}
[#{$am}-sg-bg='action'] {
	@extend %bg-action;
}
[#{$am}-sg-bg='success'] {
	@extend %bg-success;
}
[#{$am}-sg-bg='error'] {
	@extend %bg-error;
}
[#{$am}-sg-color='default'] {
	@extend %color-default;
}
[#{$am}-sg-color='alternate'] {
	@extend %color-alternate;
}
[#{$am}-sg-color='action'] {
	@extend %color-action;
}
[#{$am}-sg-color='success'] {
	@extend %color-success;
}
[#{$am}-sg-color='error'] {
	@extend %color-error;
}